.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
TestVault/_AppleReminders.md
TestVault/._RemindersMapping.json
.windsurfrules
